@model IEnumerable<BikesCRUD.Models.Bike>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BikeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BikeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BikeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BikeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BikeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
